* {
  margin: 0;
  /* padding: 0;  */
  box-sizing: border-box;
}

body {
    padding:50px;
  background-color: rgb(227, 255, 171);
  font-family: Arial;
  font-size: 20px;
 
}

h1 {
  color: blue;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

p{
    margin-bottom: 30px;
    margin-top: 20px;
}
.heading1 {
  color: red;
}
.heading2 {
  color: green;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

#my-name {
  color: rgb(207, 14, 207);
  background-color: yellow;
  font-size: 20px;
  border: 5px solid #000034;
  width: 700px;

  margin-top: 30px;
}

input, button{
    padding: 10px;
    font-size: 20px;
}

a{
    color: green;
    background-color: yellow;
}

#my-name h1{
    color: purple;
    background-color: orange;
    font-size: 30px;
    border: 2px solid black;
    width: 400px;
    text-align: center;
    margin: auto;
}
